@*  login có đường dẫn là localhost:xxxx/login
Đây là trang đăng nhập *@
@page "/login"
<PageTitle>Login</PageTitle>

<h1>Đây là trang Đăng Nhập</h1>
<h3 style="text-align:center" class="text-center">Login</h3>
@* bs5-form-email *@
<div class="mb-3">
    <label for="" class="form-label">Email</label>
    <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="abc@mail.com" />
</div>